.movies-coming-soon {
  width: 100%;
  padding: 2rem 2rem;
  margin-bottom: 1.5rem;

  background: var(--color-bg-surface);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-card);
  height: fit-content;
}
